{% extends 'base.html' %}

{% block title %}Chess Visualiser{% endblock %}

{% block head %}
  <style>
    li {
      list-style: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="upload-container" class="container-fluid  mt-4 d-flex justify-content-center">
    <div class="card" style="width: 35rem;">
      <div class="p-2">
        <div id="board1" style="width: 100%;"></div>
      </div>
      <div class="card-body">
        <form class="custom-file" action="{{ url_for('match.upload') }}" method="post" enctype="multipart/form-data">
          <input type="file" class="custom-file-input" name="match" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
          <input type="submit" value="Upload" class="btn btn-dark mt-2"></input>
        </form>
        <hr>
        <ul class="card-text"><b>Instructions</b>
          <li>The starting position before moves must be present</li>
          <li>Begin the video at the start of the match</li>
          <li>File format is .mp4</li>
        </ul>
      </div>
    </div>

  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/chessboard.js') }}"></script>
  <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
  <script>
  $("input[type=file]").change(function () {

    var fieldVal = $(this).val();

    // Change the node's value by removing the fake path (Chrome)
    fieldVal = fieldVal.replace("C:\\fakepath\\", "");
    if (fieldVal !== undefined || fieldVal !== "") {
      $(".custom-file-label").html(fieldVal);
    }

  });
  </script>
{% endblock %}