{% extends 'base.html' %}

{% block title %}Chess Visualiser{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script>
      let files = {{ files|safe }};
      console.log(files)

    </script>
{% endblock %}

{% block content %}
{% endblock %}

{% block script %}
{#  <script src="{{ url_for('static', filename='js/uploaded.js') }}"></script>#}
{% endblock %}