/Frames
/Photos
/Videos
/venv
/Data
/instance
*.zip
.idea
__pycache__/
*.py[cod]
Neural\ Network/images/test/*
Neural\ Network/images/train/*
ChessVisualiser/static/users/*
ChessVisualiser/static/net/output/*
ChessVisualiser/static/net/input/*
ChessVisualiser/static/test/*
Demo/static/net/output/
frozen_inference_graph.pb
