html, body {
  padding: 0;
  margin: 0;
}

#board {
  width: 80vh;
  display: inline-block;
  margin-right: 5vw;
}

#side-bar {
  text-align: center;
  height: 80vh;
  width: 30vh;
  display: inline-block;
  vertical-align: top
}

#vertical-moves {
  padding: 5% 15%;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10%;
  max-height:80%;
  height:80%;
}

.flash {
  height: 7vh;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 1em;
  background: #cae6f6;
}



